<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title th:text="${title}">NBA Player Finder</title>
  <link rel="icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="container">
  <h1 th:text="${title}">NBA Player Finder</h1>
  <div id="search_div">
    <label for="search_query_input">Search</label>
    <input id="search_query_input" type="text" oninput="getTableData()"/>
  </div>

  <div id="table_div"></div>

  <hr/>
  <footer>
    <p>Created by <a href="mailto:fettingderek@gmail.com">Derek Fetting</a></p>
    <p>Data courtesy of <a href="https://www.balldontlie.io">https://www.balldontlie.io</a></p>
    <p><a href="https://github.com/fettingderek/filter-app">GitHub</a></p>
  </footer>
</div>
<script type="text/javascript" src="../static/js/index.js" th:src="@{/js/index.js}"></script>
</body>
</html>